{% extends "djangoapp/index.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<address>
Best Cars<br>
Some Street<br>
Some Town, NY<br>
(555)555-1234<br>
</address>


{% endblock %}
