{% extends "djangoapp/index.html" %}

{% block title %}Dealership Review{% endblock %}


{% block content %}
          {% if user.is_authenticated %}
          <a href="#">Add Review</a>
          {% endif %}
          <div class="card-columns">
            <!--{% for y in dealer_reviews %}
            <div class="card">
              {{y}}
            </div>
            {% endfor %}-->

          </div>
{% endblock %}
