{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dealership Review{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
</head>

    <body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Dealership Review</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/djangoapp/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/djangoapp/about">About</a>
          <a class="nav-item nav-link" href="/djangoapp/contact#">Contact</a>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
               <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
               <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
               <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                  {% csrf_token %}
                  <div class="input-group">
                       <input type="text" class="form-control" placeholder="Username" name="username" >
                       <input type="password" class="form-control" placeholder="Password" name="psw" >
                       <button class="btn btn-primary" type="submit">Login</button>
                       <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                  </div>
               </form>
          </li>
          {% endif %}
      </ul>

    </nav>

    <!--Add a dealer table here -->
    {% block content %}
<table class="table" id="table" data-filter-control="true">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="dealer name">Dealer Name</th>
      <th data-field="city">City</th>
      <th data-field="address">Address</th>
      <th data-field="zip">Zip</th>
      <th data-field="state" data-filter-control="select">State</th>
  </tr>
</thead>
  {% for x in dealership_list %}
  <tr>
    <td>{{x.id}}</td>
<td><a href="{% url 'djangoapp:dealer_details' x.id%}">{{x.full_name}}</a></td>
<td>{{x.city}}</td>
<td>{{x.address}}</td>
<td>{{x.zip}}</td>
<td>{{x.st}}</td>
  </tr>
  {%endfor%}
</table>
    {% endblock %}
    </body>
<script>
$(function(){
  $('#table').bootstrapTable()
})
</script>
</html>
