<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
      <form action="{% url 'djangoapp:registration' %}" method="post">
    <div class="container"> <!--Style root div with .container class -->
      {% csrf_token %}
      <h1>Sign Up</h1>
      <hr>
      <div class="form-group"> <!--Style second div with .form-group class -->
          <label for="username"><b>User Name</b></label>
          <input type="text" class="form-control" placeholder="Enter User Name: " name="username" required> <!--Style input with .form-control class -->
          <label for="firstname"><b>First Name</b></label>
          <input type="text" class="form-control" placeholder="Enter First Name: " name="firstname" required> <!--Style input with .form-control class -->
          <label for="lastname"><b>Last Name</b></label>
          <input type="text" class="form-control" placeholder="Enter Last Name: " name="lastname" required> <!--Style input with .form-control class -->
          <label for="psw"><b>Password</b></label>
          <input type="password" class="form-control" placeholder="Enter Password: " name="psw" required> <!--Style input with .form-control class -->
          {% if message %}
          <div class="alert alert-warning"> <!--Style the message paragraph with .alert and .alert-warning class -->
              {{ message }}
          </div>
          {% endif %}
          <button class="btn btn-primary" type="submit">Sign up</button> <!--Style button with .btn and .btn-primary class -->
      </div>
    </div>
  </form>
    </body>
</html>
